* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Lora:wght@400;500;700&family=Poppins:ital,wght@0,100;0,300;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,800&family=Roboto:ital,wght@0,500;1,400;1,700&display=swap");
body {
  font-family: "Alkatra", cursive;
  font-family: "Lora", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
